{% extends 'app/base.html' %}

{% block content %}
<body>
<div>
    <br>
    <br>
    
<form action="/cleanBBDD">
    <input type="submit" value="Clean BBDD"/>
</form>

<form action="/populateSwitch">
    <input type="submit" value="Populate Switch"/>
</form>

<form action="/populatePSN">
    <input type="submit" value="Populate PSN"/>
</form>

<form action="/listAll">
    <input type="submit" value="All games"/>
</form>

<form action="/showOfferedGames">
    <input type="submit" value="Show offered games"/>
</form>
    </div>

</body>
{% endblock %}
