{% extends 'app/base.html' %}

{% block content %}
<body>
<h1>All games</h1>

<br>
{% for juego in games %}
	<fieldset>
  	<span>{{juego.title}} para {{juego.type}}</span>
  	{% if juego.on_sale_cost %}
  		<span>a {{juego.on_sale_cost}} euros </span>
  	{% endif %}
  	{% if not juego.on_sale_cost%}
  		(Proximamente)
  	{% endif %}
  	<ul>Generos:
  		{% for g in juego.genres.all %}
  			<li>{{g}}</li>
  		{% endfor %}
  	</ul>
  	{% if juego.offer_categories.all|length > 0 %}
  	<ul>Categorias de oferta:
  		{% for o in juego.offer_categories.all %}
  			<li>{{o}}</li>
  		{% endfor %}
  	</ul>
	{% endif%}
  	</fieldset>
  	<br>	
{% endfor %}


<br>
<form action="/">
    <input type="submit" value="Index" />
</form>


</body>
{% endblock %}